<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <p><a href="/">Home</a></p>
    <p><a href="/support">Support</a></p>
    <p><a href="/express">Express</a></p>
    <p><a href="/bad">Bad</a></p>
    <p><a href="/json">JSON</a></p>
    <p><a href="/contact.html">Contact</a></p>
    <p><a href="/help.html">Help</a></p>
    <p><a href="/about">About</a></p>

</head>
<body>