<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <p><a href="/">Home</a></p>
    <p><a href="/support">Support</a></p>
    <p><a href="/project">Project</a></p>

</head>
<body>