<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found!</title>
</head>
<body>
    <h1><b>Will Back Soon!!</b></h1>
    <p>The website is updating at the moment! Please visit us later!</p>
    <p>Thank you!</p>
</body>
</html>